@model Marketplace.Entities.Auction


<h2>
    Edit Auction
</h2>
<br />

<form id="editForm" method="post">
    <input class="form-group" type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group">
        <label>
            Title
        </label>
        <input class="form-control" name="Title" value="@Model.Title"/>
    </div>
    <div class="form-group">
        <label>
            Description
        </label>
        <input class="form-control" name="Description" value="@Model.Description" />
    </div>
    <div class="form-group">
        <label>
            Actual Amount
        </label>
        <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />
    </div>
    <div class="form-group">
        <label>
            Start Time
        </label>
        <input class="form-control" name="StartTime" value="@Model.StartTime" />
    </div>
    <div class="form-group">
        <label>
            End Time
        </label>
        <input class="form-control" name="EndTime" value="@Model.EndTime" />
    </div>

    <button id="saveButton" type="button" class="btn btn-outline-success">
        Save
    </button>

</form>
<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auctions/Edit",
            method: "post",
            data: $("#editForm").serialize()
        })
            .done(function (response) {
                $("#listingArea").html(response);
            });
    });

</script>
