@model Marketplace.Entities.Auction


<h2>
    Edit Auction
</h2>
<br />

<form id="editForm" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />

    <label>
        Title
    </label>
    <input name="Title" value="@Model.Title" />

    <br />
    <label>
        Description
    </label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>
        ActualAmount
    </label>
    <input name="ActualAmount" value="@Model.ActualAmount" />
    <br />
    <label>
        StartTime
    </label>
    <input name="StartTime" value="@Model.StartTime" />
    <br />
    <label>
        EndTime
    </label>
    <input name="EndTime" value="@Model.EndTime" />

    <br />

    <button id ="saveButton" type="button">
        Save
    </button>

</form>
<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auctions/Edit",
            method: "post",
            data: $("#editForm").serialize()
        })
            .done(function (response) {
                $("#contentArea").html(response);
            });
    });

</script>
