@model Marketplace.Web.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4"> Hello, @User.Identity.Name</h1>
    <p class="lead">Welcome to MarketPlace Dashboard. Below are a few demographics of Marketplace.</p>
    <hr class="my-4">
</div>

<div class="card-deck text-secondary">
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
            @Model.UserCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.Action("Users","Dashboard")"> Users</a>
        </div>
    </div>
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
            @Model.AuctionsCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.Action("Index","Auctions")"> Auctions</a>
        </div>
    </div>
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
            @Model.BidsCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.Action("Index","Bids")"> Bids</a>
        </div>
    </div>
</div>
<br />
<div class="card-deck text-secondary">
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
            @Model.Categories
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.Action("Index","Categories")"> Categories</a>
        </div>
    </div>
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
            @Model.Roles
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.Action("Index","Roles")"> Roles</a>
        </div>
    </div>
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
            @Model.Comments
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.Action("Index","Comments")"> Comments</a>
        </div>
    </div>
</div>
<br />
