@model Marketplace.Web.ViewModels.PageViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="~/Content/css/dashboard.css" rel="stylesheet" />
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><i class="fas fa-store" style="color:green"></i>Marketplace</a>

        <input class="form-control form-control-dark w-100 bg-dark" value="Hi @User.Identity.Name" disabled>
        <ul class="navbar-nav px-xl-1">
            <li class="nav-item text-nowrap">
                <a class="nav-link" id="btnLogOff" href="@Url.Action("Index","Home")"> <i class="fas fa-store mr-4" style="color:green"></i>Home</a>
            </li>
        </ul>
        <ul class="navbar-nav px-xl-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" id="btnLogOff" href="#"> <i class="fas fa-store mr-4" style="color:red"></i>LogOff</a>
            </li>

        </ul>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index","Dashboard")">
                                <span data-feather="home"></span>
                                <i class="fas fa-store" style="color:green"></i> Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Categories")">
                                <span data-feather="file"></span>
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Auctions")">
                                <span data-feather="file"></span>
                                Auctions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Bids")">
                                <span data-feather="file"></span>
                                Bids
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Admin Menu</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Users","Dashboard")">
                                <span data-feather="file-text"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Roles","Dashboard")">
                                <span data-feather="file-text"></span>
                                Roles
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="mt-4 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <form id="logOffForm" method="post" action="@Url.Action("LogOff", "Account")">
        @Html.AntiForgeryToken()
    </form>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        $("#btnLogOff").click(function () {
            $("#logOffForm").submit();
        });

    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>